* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --left: -10%;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
  width: 80%;
  height: 80%;
  background-image: linear-gradient(
    to bottom,
    #91ceee,
    #aed5f4,
    #c7ddf8,
    #dde6fa,
    #eef0fc,
    #f4f5fd,
    #fafafe,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff
  );
  touch-action: none;
  user-select: none;
  overflow: hidden;
}

.items-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 25%;
  margin: 20px 0;
  z-index: 99;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100px;
  height: 130px;
  border-radius: 10px;
  border: 5px solid white;
  color: white;
  background-image: linear-gradient(
    #0ca9e2 40%,
    #0d5b77 100%,
    #004961 3%,
    #004961
  );
}

.items h6 {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 8px;
}

.house-box {
  position: relative;
  width: 100%;
  height: 100%;
  border: 5px solid black;
}

.house-body {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50%;
  height: 50%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  border: 15px solid black;
  background-image: url('./img/HousePlan.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.house-body::after,
.house-body::before {
  content: '';
  position: absolute;
  top: -30%;
  width: 70%;
  height: 20px;
  transform: rotate(-24.5deg);
  background-color: black;
  border-radius: 5px;
  z-index: -50;
}

.house-body::after {
  left: -15.5%;
}

.house-body::before {
  transform: rotate(24.5deg);
  right: -15.5%;
}

.device-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  touch-action: none;
  user-select: none;
}

.text {
  position: absolute;
  left: 0;
  top: 0;
  margin: 20px 10px;
}

.text h1 {
  color: rgb(131, 131, 131);
  text-shadow: 5px 5px 7px #0d5b77;
}

.device-item-screen {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 3px solid white;

  visibility: hidden;
  touch-action: none;
  user-select: none;
  overflow: hidden;
  z-index: 50;
}

.status-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40%;
  border: 3px solid white;
  border-radius: 4px;
  color: #fff;
  background-image: linear-gradient(
    #2396bf 40%,
    #0d5b77 100%,
    #004961 3%,
    #004961
  );
}

.status-window h1 {
  font-size: 0.8em;
  text-transform: uppercase;
}

.btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 3px;
  padding: 3px;
  font-size: 10px;
  outline: auto;
  background-image: linear-gradient(
    #0ca9e2 40%,
    #0d5b77 100%,
    #004961 3%,
    #004961
  );
  color: white;
}

.btn:hover {
  background-image: none;
  background-color: white;
  color: black;
}

.status-window h4 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

i {
  padding: 15px;
  font-size: 30px;
}

.slider-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 40%;
  height: 10px;
  cursor: pointer;
}

.slider-button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: white;
  box-sizing: border-box;
}

.slider-button::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: var(--left);
  border-radius: 50%;
  background-color: white;
  border: 3px solid #0d5b77;
  z-index: 50;
}

/*  @MEDIA */

@media (min-width: 300px) and (max-width: 450px) {
  .items {
    width: 70px;
  }

  .items h6 {
    font-size: 6px;
  }

  .text {
    font-size: 10px;
    margin: 20px;
  }

  .house-body {
    width: 80%;
    border: 10px solid black;
  }

  .house-body::after,
  .house-body::before {
    top: -15%;
    width: 75%;
    height: 15px;
  }

  .house-body::after {
    left: -19%;
  }

  .house-body::before {
    right: -19%;
  }

  .status-window h1 {
    font-size: 0.4em;
  }

  .status-window h4 {
    font-size: 0.7em;
  }

  .connection {
    font-size: 0.2em;
  }
}
@media (min-width: 451px) and (max-width: 600px) {
  .items {
    width: 70px;
  }

  .items h6 {
    font-size: 6px;
  }

  .text {
    font-size: 10px;
    margin: 20px;
  }

  .house-body {
    width: 80%;
    border: 10px solid black;
  }

  .house-body::after,
  .house-body::before {
    top: -17%;
    width: 75%;
    height: 10px;
  }

  .house-body::after {
    left: -19%;
  }

  .house-body::before {
    right: -19%;
  }

  .status-window h1 {
    font-size: 0.4em;
  }

  .status-window h4 {
    font-size: 0.7em;
  }

  .connection {
    font-size: 0.2em;
  }
}
@media (min-width: 601px) and (max-width: 750px) {
  .items {
    width: 100px;
  }

  .items h6 {
    font-size: 8px;
  }

  .house-body {
    width: 80%;
    border: 15px solid black;
  }

  .house-body::after,
  .house-body::before {
    top: -25%;
    width: 73.5%;
    height: 15px;
  }

  .house-body::after {
    left: -19%;
  }

  .house-body::before {
    right: -19%;
  }

  .status-window h1 {
    font-size: 0.7em;
  }

  .status-window h4 {
    font-size: 1em;
  }
}
@media (min-width: 751px) and (max-width: 1100px) {
  .items {
    width: 100px;
  }

  .items h6 {
    font-size: 8px;
  }

  .house-body {
    width: 80%;
    border: 15px solid black;
  }

  .house-body::after,
  .house-body::before {
    top: -25%;
    width: 70%;
    height: 15px;
  }

  .house-body::after {
    left: -16%;
  }

  .house-body::before {
    right: -16%;
  }

  .status-window h1 {
    font-size: 0.7em;
  }

  .status-window h4 {
    font-size: 1em;
  }
}
